{{ define "base" }}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{if .title}}{{.title}} - {{end}}{{.config.SiteName}}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22 fill=%22{{if .user }}{{getIconColor .user.Theme}}{{else}}white{{end}}%22>🗫</text></svg>">
    
    <link rel="stylesheet" href="/static/{{ if .user }}{{validateTheme .user.Theme}}{{else}}default{{end}}.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="header-content">
                <a href="/" class="logo">{{.config.SiteName}}</a>
                
                <nav class="nav">
                    <!--<a href="/">Home</a>-->
                    {{if .user}}
                        <div class="user-info">
                            {{if .user.ProfilePicURL}}
                                <a href="/profile/{{.user.Username}}" class="avatar-link"><img src="{{.config.ProfilePicsLinkURL}}{{.user.ProfilePicURL}}" alt="Avatar" class="user-avatar"></a>
                            {{end}}
                            <span><a href="/profile/{{.user.Username}}">{{.user.Username}}</a></span>
                            {{if or (.user.CanModerate) (.user.IsAdmin)}}
                                <a href="/admin">Admin Panel</a>
                            {{end}}
                            <form method="post" action="/auth/logout">
                                <button type="submit" class="btn btn-sm btn-secondary">Logout</button>
                            </form>
                        </div>
                    {{else}}
                        <a href="/auth/login">Login</a>
                        <a href="/auth/signup">Sign Up</a>
                    {{end}}
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            {{template "content" .}}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; {{.config.SiteName}}</p>
        </div>
    </footer>
</body>
</html>{{ end }}
