{{define "content"}}
<div class="content-wrapper">
    <div class="content-header">
        <h1>{{.category.Name}}</h1>
        <div class="breadcrumb">
            <a href="/">Home</a> &rsaquo;
            {{.category.Name}}
        </div>
    </div>
    
    <div class="content-body">
        {{if .category.Description}}
        <p class="mb-20 generic-subtitle">{{.category.Description}}</p>
        {{end}}

        {{if and .user .user.CanPost}}
        <div class="mb-20">
            <a href="/category/{{.category.ID}}/new-topic" class="btn btn-success">New Topic</a>
        </div>
        {{end}}

        {{if .topics}}
        <table>
            <thead>
                <tr>
                    <th>Topic</th>
                    <th class="count-column">R</th>
                </tr>
            </thead>
            <tbody>
                {{range .topics}}
                <tr>
                    <td>
                        <div>
                            {{if .IsPinned}}
                                <span class="topic-pinned" title="Pinned">📌</span>
                            {{end}}
                            {{if .IsLocked}}
                                <span class="topic-locked" title="Locked">🔒</span>
                            {{end}}
                            <a href="/topic/{{.ID}}" class="category-name">
                                {{.Title}}
                            </a>
                        </div>
                        <div class="generic-subtitle">
                            by <a href="/profile/{{.Author.Username}}">{{.Author.Username}}</a>
                        </div>
                    </td>
                    <td class="count-column">{{.RepliesCount}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
        <!-- Pagination Controls  -->
        <div class="pagination">
          {{if gt .totalPages 1}}
            {{if gt .page 1}}
              <a href="/category/{{.category.ID}}?page=1" class="btn btn-sm">&laquo;</a>
            {{end}}
            {{if gt .page 1}}
              <a href="/category/{{.category.ID}}?page={{sub .page 1}}" class="btn btn-sm">&lsaquo;</a>
            {{end}}
            <span class="btn btn-sm btn-secondary">{{.page}}</span>
            {{if lt .page .totalPages}}
              <a href="/category/{{.category.ID}}?page={{add .page 1}}" class="btn btn-sm">&rsaquo;</a>
            {{end}}
            {{if lt .page .totalPages}}
              <a href="/category/{{.category.ID}}?page={{.totalPages}}" class="btn btn-sm">&raquo;</a>
            {{end}}
          {{end}}
        </div>
        {{else}}
        <div class="alert alert-info">
            No topics in this category yet. {{if and .user .user.CanPost}}<a href="/category/{{.category.ID}}/new-topic">Create the first one!</a>{{end}}
        </div>
        {{end}}
    </div>
</div>
{{end}}
